<ul class="nav nav-pills nav-fill gap-2 p-1 small bg-primary rounded-5 shadow-sm"
    id="pillNav"
    role="tablist"
    style="--bs-nav-link-color: var(--bs-white); --bs-nav-pills-link-active-color: var(--bs-primary); --bs-nav-pills-link-active-bg: var(--bs-white);">
  <li class="nav-item">
    <a class="nav-link rounded-5 <%= "active" if current_page?(user_profile_path) %>" id="profile-tab"  href="<%= user_profile_path %>" role="tab" aria-selected="<%= current_page?(user_profile_path) %>">
      Profile
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link rounded-5 <%= "active" if current_page?(upload_path) %>" id="upload-tab"  href="<%= upload_path %>" role="tab" aria-selected="<%= current_page?(upload_path) %>">
      Upload
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link rounded-5 <%= "active" if current_page?(generate_path) %>" id="generate-tab" href="<%= generate_path %>" role="tab" aria-selected="<%= current_page?(generate_path) %>">
      Generate
    </a>
  </li>
</ul>

