<%= render "dashboard/nav" %>
<div style="text-align: center;">
  <h1>Upload Pics Of Your Clothing</h1>
</div>

<a href="/dashboard" class="btn btn-primary">Back to Dashboard</a>

<div style="text-align: center;">
  <%= form_with(model: @clothing, html: {multipart: true}, url: insert_clothing_path, method: :post, local: true) do |form| %>
    <div class="field">
      <%= form.label :image %>
      <%= form.file_field :image %>
    </div>

    <div class="field">
      <%= form.label :brand %>
      <%= form.text_field :query_brand %>
    </div>

    <!-- Add a hidden field to store the query_user_id -->
    <%= form.hidden_field :query_user_id, value: @query_user_id %>

    <%= form.submit "Upload" %>
  <% end %>
</div>
