<%= render "dashboard/nav" %>
<div style="text-align: center;">
  <h1>Upload Pics Of Your Clothing</h1>
</div>

<div style="text-align: center;">
  <%= form_with(model: @clothing, html: {multipart: true}, url: insert_clothing_path, method: :post, local: true) do |form| %>
    <div class="field">
      <%= form.label :image %>
      <%= form.file_field :image %>
    </div>

    <div class="field">
      <%= form.label :brand %>
      <%= form.text_field :brand %>
    </div>

    <div class="field">
      <%= form.label :category_id %>
      <%= form.collection_select :category_id, Category.all.order(:name), :id, :name %>
    </div>

    <!-- Add a hidden field to store the query_user_id -->
    <%= form.hidden_field :user_id, value: @current_user.id %>

    <%= form.submit "Upload" %>
  <% end %>
</div>
