<div>
  <div>
    <h1>
      List of all outfit clothings
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new outfit clothing
    </h2>

    <form action="/insert_outfit_clothing" method="post">
      <div>
        <label for="clothing_id_box">
          Clothing
        </label>

        <input type="text" id="clothing_id_box" name="query_clothing_id">
      </div>

      <div>
        <label for="outfit_id_box">
          Outfit
        </label>

        <input type="text" id="outfit_id_box" name="query_outfit_id">
      </div>

      <button>
        Create outfit clothing
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Clothing
        </th>

        <th>
          Outfit
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_outfit_clothings.each do |an_outfit_clothing| %>
      <tr>
        <td>
          <%= an_outfit_clothing.id %>
        </td>

        <td>
          <%= an_outfit_clothing.clothing_id %>
        </td>

        <td>
          <%= an_outfit_clothing.outfit_id %>
        </td>

        <td>
          <%= time_ago_in_words(an_outfit_clothing.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_outfit_clothing.updated_at) %> ago
        </td>

        <td>
          <a href="/outfit_clothings/<%= an_outfit_clothing.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
