<%= render "dashboard/nav" %>

<div style="text-align: center;">
  <h1>Generate Your Outfit</h1>
</div>

<% if @top %>
  <h3>Top:</h3>
  <%= image_tag @top.image_url %>
<% end %>

<% if @bottom %>
  <h3>Bottom:</h3>
  <%= image_tag @bottom.image_url %>
<% end %>

<% if @shoes %>
  <h3>Shoes:</h3>
  <%= image_tag @shoes.image_url %>
<% end %>

<div class="text-center">
  <%= form_with(model: @clothing, url: insert_clothing_path, method: :post) do |form| %>
    <!-- Other form fields -->

    <%= form.hidden_field :query_user_id, value: @current_user.id %>

    <%= form.button "Generate Random Outfit", class: "btn btn-primary" %>
  <% end %>
</div>
